<!DOCTYPE html>
<html>
  <head>
    <title>秋のお天気🍁ゆらぎログ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

<!-- 標準ブラウザ用 -->
<link rel="icon" href="<%= asset_path 'favicon.ico' %>" type="image/x-icon">

<!-- 高解像度用PNG -->
<link rel="icon" href="<%= asset_path 'favicon.png' %>" type="image/png">

<!-- iOS/Androidホーム画面用 -->
<link rel="apple-touch-icon" href="<%= asset_path 'apple-touch-icon.png' %>">

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <!-- 本体表示 -->
  <body class="bg-gray-500 h-screen flex justify-center items-center">
    <div class="smartphone-container <%= 'scrollable' if content_for?(:scrollable) %>">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </div>
  </body>
</html>
